@media only screen and (max-width:1140px){
    .navlist{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 480px;
        background-color: black;
    }
    .rightNav{
        text-align: center;
        background-color: black;
    }
    
    .firstSection{
        height: 745px;
    }
    
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
        
    }
    #search{
        width: 100%;
    }
    
    .firstHalf{
        padding-top: 180px;
    }
    
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .text-footer{
        background-color: black;
    }
}
